<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../Desktop/Pingendo/New Site/theme2.css" type="text/css">
  <link rel="stylesheet" href="../static/css/theme.css"> </head>

  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>

  <body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <b>Restaurant Express</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
          <a class="btn navbar-btn ml-2 text-white btn-secondary" id="user_profile">
            <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Berkay Beken</a>
          </div>
        </div>
      </nav>
      <form method="post" action="/signUp">
        <div class="py-5"  >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="" id="title_customer_register">Customer Register</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="lead" id="tittle_name">Name</p>
              </div>
              <div class="col-md-6">
                <input class="form-control" placeholder="Enter your name" required="required" id="enter_name" type="text"> </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="lead" id="tittle_surname">Surname</p>
                </div>
                <div class="col-md-6">
                  <input class="form-control" placeholder="Enter your surname" required="required" id="enter_surname" type="text"> </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p class="lead" id="tittle_email">Email</p>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" placeholder="Your email, please" type="email" required="required" id="enter_email"> </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="lead" id="tittle_password">Password</p>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" placeholder="Enter your password" type="password" required="required" id="enter_password"> </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="lead" id="tittle_passwordagain">Password (again)</p>
                      </div>
                      <div class="col-md-6">
                        <input class="form-control" placeholder="Enter your password again" type="password" required="required" id="enter_passwordagain"> </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="lead" id="tittle_city">City</p>
                        </div>
                        <div class="col-md-6">
                          <div class="btn-group" id="select_city">
                            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> Select City</button>
                            <div class="dropdown-menu">
                              {% for row in rows %}
                              <a class="dropdown-item" href="#">{{row["city"]}}</a>
                              <div class="dropdown-divider"></div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="lead" id="tittle_district">District</p>
                        </div>
                        <div class="col-md-6">
                          <div class="btn-group w-50" id="select_district">
                            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> Select District</button>
                            <div class="dropdown-menu">
                              {% for row in rows %}
                              <a class="dropdown-item" href="#">{{row["district_name"]}}</a>
                              <div class="dropdown-divider"></div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="py-5">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <button   type="submit" class="btn btn-outline-primary w-100 bg-gradient" id="button_register">Register</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

              </body>

              </html>
